<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Taco Cloud</title>
  </head>
  
  <body>
    <h1>Helloo!y</h1>
    <img th:src="@{/images/TacoCloud.png}"/>
    <div> 	
		<a href="/design" style="
			height: 30px; 
			padding: 0 10px; 
			background: #3a4a70; 
			color: white;
			font-weight: 500;
			font-size: 20px;
			text-decoration: none;
			display: flex;
			align-items: center;
			width: fit-content;
		">
			Создать заказ
		</a>
    </div>
  </body>
</html>